{% extends "BisonLabCommonBundle::layout.html.twig" %}


{% block lsidemenu %}
<ul class="menu">
    <li> <a href="{{ path('catalog') }}">Catalogs</a>
    <li> <a href="{{ path('product') }}">Products</a>
    <li> <a href="{{ path('campaign') }}">Campaigns</a>
</ul>
{% endblock %}

{% block lcontent %}

{% block content %}

{% endblock %}

{% endblock %}
